html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffff;
  color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body,
button,
input {
  font-family: 'Nunito', 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC',
    'Microsoft YaHei', sans-serif;
}

a {
  color: green;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

/* ruby {
  font-family: 'Ma Shan Zheng', cursive;
}
ruby rt {
  font-family: 'Nunito', sans-serif;
} */

button,
input {
  touch-action: manipulation;
  color: inherit;
  appearance: none;
}

button {
  user-select: none;
}

button,
svg {
  vertical-align: middle;
}

header {
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  align-items: center;
}

header button {
  border: 0;
  padding: 0.2em 1em;
  margin: 0;
  background-color: rgba(0, 128, 0, 0.178);
  color: inherit;
  color: green;
  font-weight: bold;
  border-radius: 0.5em;
  cursor: pointer;
}
header button:active {
  background-color: rgba(0, 128, 0, 0.432);
}
header a,
header button {
  font-size: 0.8em;
}

h1 {
  text-transform: uppercase;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
h1 sup {
  font-size: 0.6em;
  color: red;
}

#app {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#board {
  line-height: 1;
  font-size: 1.75em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
@media (min-height: 700px) {
  #board {
    justify-content: center;
  }
}

#board .row {
  line-height: 1;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  max-height: 3em;
  perspective: 1000px;
}
#board .row.current ~ .row {
  opacity: 0.5;
}

#board .row.error {
  animation: shake 0.5s;
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-2px);
  }

  20%,
  80% {
    transform: translateX(4px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-8px);
  }

  40%,
  60% {
    transform: translateX(8px);
  }
}

#board .letter {
  border: 2px solid #ccc;
  display: inline-block;
  min-width: 2em;
  min-height: 2em;
  text-align: center;
  line-height: 1.5em;
  margin: 1px 2px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

#board .row.error .letter {
  animation: red 0.5s;
  animation-delay: 0s !important;
}

@keyframes red {
  0% {
    border-color: #ccc;
  }
  50% {
    border-color: lightcoral;
  }
  100% {
    border-color: #ccc;
  }
}

#board .letter ruby,
#board .letter ruby * {
  line-height: 1em;
}

#board .letter.lettered {
  animation: appear 0.2s ease-in-out;
}
@keyframes appear {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#board .letter.🟩 {
  background-color: green;
}
#board .letter.🟧 {
  background-color: orange;
}
#board .letter.⬜ {
  background-color: gray;
}
#board .letter.🟩,
#board .letter.🟧,
#board .letter.⬜ {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s 0.15s;
  animation: flip 0.3s ease-in-out both;
}
@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

#board .letter.🟩 > *,
#board .letter.🟧 > *,
#board .letter.⬜ > * {
  animation: flip-back 0.3s ease-in-out both;
}
@keyframes flip-back {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

#board .letter + .letter,
#board .letter + .letter > * {
  animation-delay: 0.1s;
}
#board .letter + .letter + .letter,
#board .letter + .letter + .letter > * {
  animation-delay: 0.2s;
}
#board .letter + .letter + .letter + .letter,
#board .letter + .letter + .letter + .letter > * {
  animation-delay: 0.3s;
}

#keyboard {
  border-top: 1px solid #ccc;
  background-color: #fafafa;
}

#keyboard .inner {
  max-width: 30em;
  margin: auto;
  padding: 2px;
  margin-bottom: env(safe-area-inset-bottom);
}

#keyboard button {
  font-size: 1.5em;
  margin: 0.1em;
  border: 0;
  padding: 0.2em;
  background-color: #d3d6da;
  border-radius: 0.2em;
  cursor: pointer;
  box-shadow: inset 0 -2px 0px -1px rgba(0, 0, 0, 0.25);
}
#keyboard button.⬜ {
  background-color: gray;
  color: #fff;
}
#keyboard button.🟧 {
  background-color: orange;
  color: #fff;
}
#keyboard button.🟩 {
  background-color: green;
  color: #fff;
}
#keyboard button:active {
  color: #fff;
  background-color: #686868;
}

#keyboard .row {
  display: flex;
  justify-content: space-between;
}
#keyboard .row button {
  padding: 0.3em 1em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}
#keyboard .row button.stuck {
  background-color: transparent;
  opacity: 0.6;
  font-size: 0.8em;
  margin-top: 1em;
  padding: 0;
}
#keyboard .row button.stuck:hover {
  opacity: 1;
}
#keyboard .row button.stuck:active {
  color: inherit;
}

@media (max-height: 500px) {
  #board {
    font-size: 1.5em;
  }
  #keyboard button {
    font-size: 1.25em;
    padding: 0.15em;
  }
  #keyboard .row button {
    font-size: 0.9em;
    padding: 0.2em 1em;
  }
  #keyboard .row button svg {
    transform: scale(0.9);
  }
}

@media (max-height: 480px) {
  #board {
    font-size: 1.25em;
  }
  #keyboard .keys {
    white-space: nowrap;
    overflow-x: auto;
  }
  #keyboard .row button {
    font-size: 0.8em;
    padding: 0.1em 1em;
  }
  #keyboard .row button svg {
    transform: scale(0.8);
  }
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
}
#modal.appear {
  pointer-events: auto;
  opacity: 1;
}

#modal h2 {
  margin: 0;
  padding: 0;
}

#modal .content {
  border-radius: 8px;
  box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
  background-color: #fff;
  margin: 1em;
  padding: 2em;
  position: relative;
  width: calc(100% - 2em);
  max-width: 30em;
  transform: translateY(80vh);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
}
#modal.appear .content {
  transition-delay: 0.3s;
  transform: translateY(0vh);
}

#modal .close {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  cursor: pointer;
  z-index: 1;
}

#modal .answer {
  font-size: 2em;
}

#modal .definition {
  font-size: 0.8em;
}

#modal .results {
  white-space: pre-wrap;
  padding: 1em;
  margin-bottom: 0.5em;
  background-color: #eee;
  border-radius: 0.2em;
  line-height: 1.05em;
  text-align: left;
  font-size: 0.8em;
}

#modal a.button,
#modal button,
#info-modal button {
  color: green;
  background-color: rgba(0, 128, 0, 0.178);
  font-size: 1.5em;
  margin: 0.2em 0;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  font-size: 0.8em;
}
#modal button:active,
#info-modal button:active {
  background-color: rgba(0, 128, 0, 0.432);
}

#modal button#share {
  color: #fff;
  background-color: green;
}

#modal a.tweet {
  color: #fff;
  background-color: #1da1f2;
}

#modal .idiom-code {
  font-size: 16px;
  border: 0;
  padding: 0.2em;
  border-radius: 0.5em;
  width: 12ex;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(0, 128, 0, 0.432);
  font-weight: bold;
}

#modal .footer {
  margin-top: 1em;
}

.countdown {
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
  font-weight: bold;
}

#info-modal {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px) saturate(180%);
  transition: opacity 0.3s;
  z-index: 100;
  overflow: auto;
  display: flex;
}
#info-modal.appear {
  pointer-events: auto;
  opacity: 1;
}
#info-modal .content {
  max-width: 30em;
  margin: auto;
  padding: 1em;
  text-align: left;
  font-size: 0.9em;
}
#info-modal h2 {
  margin-top: 0;
  padding-top: 0;
  font-size: 1em;
}
#info-modal ul {
  margin-left: 0;
  padding-left: 1.2em;
}
#info-modal .close {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  cursor: pointer;
  z-index: 1;
}

a.button {
  display: inline-block;
  text-decoration: none;
}
